* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/newOne.png);
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-position: right 50px;
    position: relative;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#jayso {
    width: 100px;
    font-size: 32px;
}
#capitalJay{
    color: #0f02fc;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #440381;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5%;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #0f02fc;
}

/*About Scetion*/
#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*Skilllllllllls*/
.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    color: #0f02fc;
}
.main-text h2{
    font-weight: 700;
    font-size: 32px;
}

.main-text span{
    color: #fdfdfd;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.kills{
    background: #080808;
}
/*----------------Skill Left------------------------------*/
.skill-bar .bar{
    color:#0f02fc;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-main h3{
   margin-bottom: 2rem;
   font-size: 28px;
   text-align: center;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: #ababab;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #0c0076;
    border-radius: 25px;
}
.skill-bar .bar .html{
    width: 85%;
    animation: html 2s;
}
.skill-bar .bar .css{
    width: 80%;
    animation: css 3s;
}
.skill-bar .bar .javascript{
    width: 72%;
    animation: javascript 4s;
}
.skill-bar .bar .cplusplus{
    width: 50%;
    animation: cplusplus 5s;
}

/*----------------------Skill Right----------------*/
.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box{
    position: relative;
   margin: 10px 0;
   flex: 1 1 15rem;
}

.box .text{
   text-align: center;
   color: #fff;
   font-size: 1rem;
}

.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small{
    display: block;
    font-weight: 600;
}

.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: #00182c;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}


/*Services*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*Portfolio section*/
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s; /*Makes the picture zoom in when you hover on it*/
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #001454);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s; /*Makes the text come up or out when you over over the picture*/
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 30px; /*You could also just equate it to 50% */
}

.work:hover img{
    transform: scale(1.1);/*Makes the picture zoom in when you hover on it*/
}

.work:hover .layer{
    height: 100%;/*Makes the text come up or out when you over over the picture*/
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #090125;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s; /*Changes the background of the text when you hover over it*/
}

.btn:hover{
    background: #010129;/*Changes the background of the text when you hover over it*/
}

/*Contact Section*/
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    color: #fff;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    font-size: 18px;
    padding: 14px 60px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/*For Small Screens*/
nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phoneBackground.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .skill-main{
        grid-template-columns: 1fr;
    }
}



/*------KEY FRAMES-------*/
@keyframes html{
    0%{
        width: 0%
    }
    100%{
        width: 85%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
}
@keyframes cplusplus{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes glow {
    0%{
        background: goldenrod;
        box-shadow: none;
    }
    100%{
        background: red;
        box-shadow: 0 0 190px brown;
    }
}